@import url(../style.css);

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--teal);
    border-radius: 5px;
    padding: 2rem 4rem;
}

.cards>*{
    margin: 1rem;
}